SEED=true
PORT=9099
DOMAIN=http://localhost:9098
MAIL_ADDRESS=info@info.com
MONGODB_URI=mongodb://127.0.0.1:27018/scaffold-universal-dev
TOKEN_SECRET=scaffold-universal-dev
TOKEN_EXPIRE=604800
COOKIE_LOGIN_TOKEN=scaffold-universal-dev
