<script>
    window.process = {
      env: {
        NODE_ENV: '<%-process.env.NODE_ENV%>',
        DOMAIN: '<%-process.env.DOMAIN%>',
        COOKIE_LOGIN_TOKEN: '<%-process.env.COOKIE_LOGIN_TOKEN%>'
      }
    };

</script>
<% for (let i = 0; i < conf.script.length; i++) { %>
<script src="/<%= conf.script[i] %>"></script>
<% } %>
</body>
</html>
