<%
const conf = {
    title : 'RACE MANAGEMENT TOOL | MARUTO',
    description : 'race management tool',
    keywords: 'hihin,rmt,maruto',
    style: ['default.css', 'index.css'],
    script: ['vendor.script.js', 'index.js']
};
%>

<% include _head.ejs %>

<section class="Index_Main">
    <h1 class="yellow-dark font-bold h1 txt-center mt20">
         Scaffold Universal App
    </h1>
</section>

<section class="Index_Contact">
    <div class="white mod-Container mt20 txt-center">
        <h2 class="h2">Contact or Sinup page</h2>
    </div>
    <div class="mt20 txt-center">
        <p class="p gray-light">ここにサービスの紹介や、signupのフォームを作ったらいいと思う</p>
    </div>
</section>

<% include _foot.ejs %>
