<%
const conf = {
    title : 'policy',
    description : 'policy of universal application',
    keywords: 'rmt,policy',
    style: ['policy.css'],
    script: ['vendor.script.js', 'policy.js']
};
%>

<% include _head.ejs %>

<header>
    <div>header</div>
</header>
<div>
    <h1 class="h1">Policy Page</h1>
    <p>testetwststst aaaa</p>
</div>
<footer>
    <div>footer</div>
</footer>

<% include _foot.ejs %>
